
/* styling for login and register page  */

.App{
    font-family: "Nunito", sans-serif !important;
    text-align: center;
}

#signInForm{
    margin-top: 30px;
    padding: 0 30px 30px 30px;
}

.form-signin, .form-signup {
    max-width: 330px;
    padding: 15px;
    text-align: left;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 7px;
    backdrop-filter: blur(12px);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  .hero h1, .log-greet {
    margin: 0px 0px 5px 0px;
    font-size: 48px;
    font-weight: 700;
    color: #012970;
  }

  .form-signup{
    max-width: 36rem !important;
  }

  .form-signin .form-floating:focus-within {
    z-index: 2;
  }
  
  .form-signin input[type="email"] {
    margin-bottom: 2px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .form-signin input[type="password"] {
    margin-bottom: 2px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .hero {
    width: 100%;
    height: 100vh;
    background: url(../img/hero-bg.png) top center no-repeat;
    background-size: cover;
    padding-top: 12px;
  }

  @media screen and (min-width:768px) and (max-width:992px) {
    #signInForm{
      margin-top: 33rem;
    }
  }

  @media screen and (max-width: 450px) {
    #signInForm{
      padding: 0 5px 5px 5px !important;
    }
    #signincompo{
        flex-direction: column-reverse;
    }
  }
  
  a:hover{
    cursor: pointer;
  }

  /* navbar styles  */
  .customerNavbar a, .products a, .categories a, .prodctDetails a{
    text-decoration: none;
    color: #343a40;
  }

  .customerNavbar a:hover .prodctDetails a:hover{
    color: #343a40;
  }
  #signout:hover{
    color: rgba(255, 0, 0, 0.468);
  }

  .deleteItem:hover{
    color: rgba(255, 0, 0, 0.67);
  }

  /* products styles  */

  .products, .categories{
    padding: 30px;
  }

  .linkm{
    text-decoration: none;
    color: #e4f1ff;
  }

  .linkm:hover{
    color: #c8e0fa;
  }

  .proceedToCheckout{
    text-decoration: none;
    color: #343a40;
    padding: 25px;
    position: fixed;
    bottom: 0;
    background-color: #012970;
    width: 100%;
  }


.deliveryPending{
    background-color: #feffa66c;
    backdrop-filter: blur(18px);
}

.deliverySuccess{
  background-color: rgba(185, 255, 185, 0.637);
  backdrop-filter: blur(18px);
}

a .productDataLink{
  text-decoration: underline;
  color: #2776ff;
}

a .productDataLink:hover{
  color: #012970;
}